/****** Rating Starts *****/
/*@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);*/
fieldset,
label {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
}

h1 {
    font-size: 1.5em;
    margin: 10px;
}

.rating {
    border: none;
    float: left;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #FFD700;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
    color: #FFED85;
}

/*________*/
body {
    font-family: "helvetica", sans-serif;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container .movie {
    width: 200px;
    height: 300px;
    padding: 20px;
    margin: 2px;


    border-style: ridge;
    border-color: black;

    word-wrap: break-word;
    position: relative;
}

.rating {
    position: absolute;
    bottom: 20px;

}

.description{
    text-align: left
}

div#loading {

    display: none;
    background: url(/static/loadingimage.gif) no-repeat;
    cursor: wait;
}


#container {
    border:solid 1px green;
}
#container_:after {
    content:"";
    width:100%;
    height:0;
    line-height:0;
    clear:both;
    display:block;
}

div.panel{
    float:left;
    width:25%;
    height:50px;
}

div.mid {
    width:50%;
}

.text_left{
    text-align: left;
}
/*.previous {*/
    /*position: absolute;*/
    /*left: 5%;*/
/*}*/

/*.next {*/
    /*position: absolute;*/
    /*right: 5%;*/
/*}*/

/*.userfeatures {*/
    /*position: absolute;*/
    /*left: 50%*/
/*}*/
