<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fehler</title>
</head>
<body>
<h1 style="color: red">Fehler im Empfehlungsdienst</h1>

<p>Leider ist ein unvorhergesehner Fehler im Empfehlungsdienst aufgetreten. Dies ist nicht beabsichtigt und auch kein
Teil des Experiments.
Bitte rufen Sie das System erneut über folgenden Link auf: <br>
    <br>
<a href="{{ request_url }}"> Empfehlungsdienst neu starten</a>
</p>
<p>Hinweis: Am besten funktioniert die Umfrage am PC mit <b>Google Chrome</b>. Sollte das Problem nochmal auftreten und
    Sie die Zeit noch haben probieren Sie doch bitte das.</p>

</body>
</html>