<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Movie Rating</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script type="text/javascript">
        function loading() {
            document.getElementById("content").style.display = 'none';
            document.getElementById("loading").style.display = 'inline';
        }

        function startTimer(duration) {
            display = document.querySelector('#time')
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10)
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = duration;
                }
            }, 1000);
        }

        {#window.onload = function () {#}
        {#    var fiveMinutes = 60 * 5,#}
        {#        display = document.querySelector('#time');#}
        {#    startTimer(fiveMinutes, display);#}
        {#;#}
    </script>
</head>

<body>

<div id="loading"><img src="static/loadingimage.gif">
    <p>Bitte warten Sie ca. 3 Minuten, während die Filmempfehlungen erstellt werden. </p>
    <div>Spätestens fertig in <span id="time">03:00</span> Minuten</div>

</div>

<div id="content">
    <h1>Empfehlungsdienst</h1>
    <p>Nachfolgend werden 50 verschiedene Filme angezeigt. Bitte bewerten Sie ca. 8 Filme. Abschließend
        drücken Sie bitte oben oder unten auf "Empfehlungen generieren".
    </p>

    {#    Bitte bewerte mindestens 10 die du kennst mit 1-5 Sternen.#}
    {#    1 ist am Schlechtesten, 5 am Besten.#}
    <!--TODO: Improve Layout Styling
    vll. https://medium.freecodecamp.org/how-to-build-a-web-application-using-flask-and-deploy-it-to-the-cloud-3551c985e492 -->
    <h1>Filme</h1>
    <form action="/recommendation_calc" method="POST">

        <input type="submit" value="Empfehlungen generieren" onclick="loading();startTimer(60*3);">
    </br>
    </br>
        <div class="container">

            {% for movie in intro_movies %}
                <div class="movie">
                    <h2>{{ movie.title }} ({{ movie.year }})</h2>
                    <p>Genres: {{ movie.genres }}</p>
                    {# MovieId:{{ movie.movieId }}#}
                    <div class="form-group">
                        {#                                        <label id="movie-rating">Rate this movie: </label>#}
                        {#                                        <input name="{{ movie.movieId }}" type="number">#}
                        <fieldset id='{{ movie.movieId }}' class="rating">
                            <input class="stars" type="radio" id="{{ movie.movieId }}star_a-5"
                                   name="{{ movie.movieId }}" value="5"/>
                            <label class="full" for="{{ movie.movieId }}star_a-5" title="5 stars"></label>
                            <input class="stars" type="radio" id="{{ movie.movieId }}star_a_5-half"
                                   name="{{ movie.movieId }}" value="4.5"/>
                            <label class="half" for="{{ movie.movieId }}star_a_5-half" title="4.5 stars"></label>
                            <input class="stars" type="radio" id="{{ movie.movieId }}star_a-4"
                                   name="{{ movie.movieId }}" value="4"/>
                            <label class="full" for="{{ movie.movieId }}star_a-4" title="4 stars"></label>
                            <input class="stars" type="radio" id="{{ movie.movieId }}star_a_4-half"
                                   name="{{ movie.movieId }}" value="3.5"/>
                            <label class="half" for="{{ movie.movieId }}star_a_4-half" title="3.5 stars"></label>
                            <input class="stars" type="radio" id="{{ movie.movieId }}star_a-3"
                                   name="{{ movie.movieId }}" value="3"/>
                            <label class="full" for="{{ movie.movieId }}star_a-3" title="3 stars"></label>
                            <input class="stars" type="radio" id="{{ movie.movieId }}star_a_2.5-half"
                                   name="{{ movie.movieId }}" value="2.5"/>
                            <label class="half" for="{{ movie.movieId }}star_a_2.5-half" title="2.5 stars"></label>
                            <input class="stars" type="radio" id="{{ movie.movieId }}star2" name="{{ movie.movieId }}"
                                   value="2"/>
                            <label class="full" for="{{ movie.movieId }}star2" title="2 stars"></label>
                            <input class="stars" type="radio" id="{{ movie.movieId }}star2half"
                                   name="{{ movie.movieId }}" value="1.5"/>
                            <label class="half" for="{{ movie.movieId }}star2half" title="1.5 stars"></label>
                            <input class="stars" type="radio" id="{{ movie.movieId }}star{{ movie.movieId }}"
                                   name="{{ movie.movieId }}" value="1"/>
                            <label class="full" for="{{ movie.movieId }}star{{ movie.movieId }}" title="1 star"></label>
                            <input class="stars" type="radio" id="{{ movie.movieId }}starhalf" name="" value="0.5"/>
                            <label class="half" for="{{ movie.movieId }}starhalf" title="0.5 stars"></label>
                        </fieldset>

                    </div>
                </div>
            {% endfor %}
        </div>

    </br>
    <input type="submit" value="Empfehlungen generieren" onclick="loading();startTimer(60*3);">
    </form>
</div>
</body>
</html>