<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Recommendation </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div id="container_">
    <div class="left panel">
        <a href="/without_explanation_with_userfeatures?i={{ previous }}" , style="display:{{ display.previous }}">Vorherige
            Empfehlung</a>
    </div>

   <div class="mid panel">
        <a href="/user_features_link_without_explanation">Top 10 Filmeigenschaften</a>
    </div>

    <div class="right panel">
        <a href="/without_explanation_with_userfeatures?i={{ next }}" , style=" display:{{ display.next }}">Nächste
            Empfehlung</a>
    </div>
</div>
<div>
    <h1>Empfehlung {{ next }}: {{ explanation.title }} ({{ explanation.year }})</h1>
       <p class="description">Kurzbeschreibung: {{ explanation.description }} </p>
    {#    <p>Title:  </p>#}
    {#    <p>MovieId: {{ explanation.movieId }} </p>#}
    {#    <p>UserId: {{ explanation.userId }} </p>#}
    {#   <p> So würden Sie den Film bewerten: {{ explanation.prediction }} Sterne</p>#}

</div>

</form>
</body>
</html>