<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Recommendation </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div id="container_">
    <div class="left panel">
        <a href="/with_explanation?i={{ previous }}" , style="display:{{ display.previous }}">Vorherige
            Empfehlung</a>
    </div>
    <div class="mid panel">

    </div>
    <div class="right panel">
        <a href="/with_explanation?i={{ next }}" , style=" display:{{ display.next }}">Nächste
            Empfehlung</a>
    </div>
</div>

<div>
 <h1>Empfehlung {{ next }}: {{ explanation.title }} ({{ explanation.year }})</h1>
       <p class="description">Kurzbeschreibung: {{ explanation.description }} </p>
    <hr>
    {#    <p>Title:  </p>#}
    {#    <p>MovieId: {{ explanation.movieId }} </p>#}
    {#    <p>UserId: {{ explanation.userId }} </p>#}
{#   <p> So würden Sie den Film bewerten: {{ explanation.prediction }} Sterne</p>#}

    <p>Erklärung für die Empfehlung: {{ explanation.explanation }}
    </p>
    <img src="/plot_explanation.png?userId={{ explanation.userId }}&movieId={{ explanation.movieId }}"/>
    <h3>Erläuterung</h3>
    <div class="text_left">
        <p>

        <p>Aufgrund der oben angezeigten Eigenschaften wurde Ihnen der Film empfohlen.<br>
            Grün markiert sind Eigenschaften, die zu einer positiven Bewertung des Films für Sie geführt haben.
            Rot markiert sind Eigenschaften, die zu einer negativen Bewertung des Films für Sie geführt haben.
{#            Steht dort beispielweise 'Genre:Adventure > 0.56', so hat der Film das Genre Adventure und einen internen#}
{#            Grenzwert von 0.56 überschritten.#}
        </p>
        <p>

{#            Steht dort beispielweise 'great acting < 0.30', so hat der Film wenig "great acting" zu bieten und hat den#}
{#            internen Grenzwert von 0.30 nicht überschritten.#}
        </p>
        </p>
    </div>
</div>

</form>
</body>
</html>