<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Top Eigenschaften </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div>
    <a href="/without_explanation_with_userfeatures?i=0" , style=" position: absolute;
   right: 5%">Nächste Empfehlung</a>
</div>

<h1>Ihre Top 10 Film Eigenschaften </h1>
<p>Die folgenden Eigenschaften mögen Sie an Filmen am meisten:</p>
<div>
     <img src="/user_features/plot_user_features.png"/>
</div>

</form>
</body>
</html>